---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1>
            <a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a>
        </h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <div id="bio-pictures-container">
                        <img id="jacob-head-shot" class="bio-picture" alt="Jacob Hauptman Head Shot.png" 
                             data-type="image" src="images/other/jacob_head_shot.jpg">
                        <img id="jacob-action-shot" class="bio-picture" alt="Jacob Hauptman Action Shot.png" 
                             data-type="image" src="images/other/jacob_action_shot.jpg">
                    </div>
                    <p>{{ site.footer.bio.part1 }}</p>
                    <p>{{ site.footer.bio.part2 }}</p>
                    <p>{{ site.footer.bio.part3 }}</p>
                </section>
                <p class="copyright">
                    &copy; {{ site.year }} {{ site.author }}. Design: {{ site.web_design }}
                </p>
            </div>
            <div>
                <section>
                    <section>
                        <h2>Follow me on ...</h2>
                        <ul class="icons">
                            {% if site.social_urls.facebook %}
                                <li>
                                    <a href="{{ site.social_urls.facebook }}" target="_blank" class="icon fa-facebook">
                                        <span class="label">Facebook</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.twitter %}
                                <li>
                                    <a href="{{ site.social_urls.twitter }}" target="_blank" class="icon fa-twitter">
                                        <span class="label">Twitter</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.instagram.nyc %}
                                <li>
                                    <a href="{{ site.social_urls.instagram.nyc }}" target="_blank" class="icon fa-instagram">
                                        <span class="label">Instagram NYC</span>
                                        NYC
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.instagram.travel %}
                                <li>
                                    <a href="{{ site.social_urls.instagram.travel }}" target="_blank" class="icon fa-instagram">
                                        <span class="label">Instagram Travel</span>
                                        Travel
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.dribbble %}
                                <li>
                                    <a href="{{ site.social_urls.dribbble }}" target="_blank" class="icon fa-dribbble">
                                        <span class="label">Dribbble</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.github %}
                                <li>
                                    <a href="{{ site.social_urls.github }}" target="_blank" class="icon fa-github">
                                        <span class="label">GitHub</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.linkedin %}
                                <li>
                                    <a href="{{ site.social_urls.linkedin }}" target="_blank" class="icon fa-linkedin">
                                        <span class="label">LinkedIn</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </section>
                    <h2>Get in touch</h2>
                    <form id="form-contact" method="post" action="https://script.google.com/macros/s/AKfycbyubBNwB7XDth2C09q5knTKGkaaCH4FAuI4m_1qXjjgUXI_vmPx/exec">
                        <p> {{ site.footer.contact }} </p>
                        <label class="sr-only">Keep this field blank</label>
                        <input id="honeypot" type="text" name="honeypot" value="" />
                        <div class="field half first">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="special"/></li>
                            <li><input type="reset" value="Reset"/></li>
                        </ul>
                    </form>
                    <p id="form_submission_thankyou_message">
                        Thank you for reaching out! I'll be in touch as soon as possible.
                    </p>
                    <p id="form_submission_error_message">
                        Sorry! There was an issue sending your message. Please try again in a bit.
                    </p>
                    <section>
                        <h2>Shop</h2>
                        <p> {{ site.footer.shop }} </p>
                    </section>
                </section>
            </div>
        </div>
    </footer>

    <script data-cfasync="false" type="text/javascript" src="assets/js/form-submission-handler.js"></script>
</div>
